<div class="social-links">
  {{- range $s := .Site.Params.social }}
      <a href="{{ $s.url | safeURL }}" rel="me" class="iconfont icon-{{ $s.type }}"
        title="{{ $s.name }}" target="_blank">
      </a>
  {{- end }}
  <a href="{{ .Site.RSSLink }}" type="application/rss+xml" class="iconfont icon-rss"
    title="rss" target="_blank">
  </a>
</div>

<div class="copyright">
  <span class="copyright-year">
    {{- $current := now.Format "2006" }}
    &copy;
    {{ if ne .Site.Params.since $current }}
      {{ .Site.Params.since }} -
    {{ end }}
    {{- $current }}
    <span class="heart">
      <i class="iconfont icon-heart"></i>
    </span>
{{- if or .Site.Copyright .Site.Author.name -}}
    <span class="author">{{if .Site.Copyright }}{{ .Site.Copyright | safeHTML }}{{ else }}{{ .Site.Author.name | safeHTML }}{{ end }}</span>
{{- end -}}
  </span>
</div>